.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.col-header {
  background-color: #3e90e3;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}
.App-header img {
  max-height: 100px;
}
.App-header button {
  background: #fff;
  color: #3e90e3;
  padding: 10px 24px;
}
.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px 20px;
  max-width: 400px;
  margin: 0;
  border-radius: 20px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 20px auto;
  background: #fcfcfc;
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  padding: 12px 14px;
}

.currentMember > .Message-content .text, .Message-content > .text {
  box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
}

.Input img {
  width: 100%;
  vertical-align: middle;
}

input {
  padding: 12px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  flex-grow: 1;
  background: #fcfcfc;
}
input:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #3e90e3;
  color: white;
  border: none;
  border-radius: 25px;
  margin-left: 10px;
}